<html lang="en">
  <%- include("./partials/head.ejs") %>

  <body>
    <%- include("./partials/nav.ejs") %>

    <div class="about content">
      <h2>About Us</h2>
      <p>
        This simple website has been built to put my node.js knowledge into
        practice . Now I am not good at frontend :(. <br />
        In the near future more advanced options and functions will be added to
        this site (In shaa Allah) :).
      </p>
    </div>

    <%- include("./partials/footer.ejs") %>
  </body>
</html>
